.progress-bar {
  width: 100%;
  accent-color: #f1d579;
}

.header .progress-info {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-weight: bold;
}

.dieMinute {
  color: #f43f5e;
}
