.progress-bar {
  width: 100%;
  /* color: #3b82f6; */
  /* border: none; */
  accent-color: #f1d579;
  /* background-color: #ffffff; */
}

.header .progress-info {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-weight: bold;
}

.dieMinute {
  color: #f43f5e;
}
