.numbered-question-list {
  display: flex;
  gap: 5px;
  overflow-x: auto;
  scrollbar-width: none;
}

.numbered-question-list > p {
  height: fit-content;
  width: fit-content;
  text-align: center;
  padding: 2px 8px;
  border-radius: 3px;
  cursor: pointer;
}

.numbered-question-list .current-question {
  background-color: #d1a516;
  color: white;
}
