.listItem {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 12px;
  border: 1px solid #b4e8fd;
  padding: 8px;
}

.listItem:hover {
  box-shadow: 0 0 10px grey;
}

.subjectItem {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.subjectTitle {
  font-weight: 700;
}
