.marginB {
  margin-bottom: 1rem;
}

.clear {
  cursor: pointer;
}

.clear:hover {
  color: #6750a4;
}

.resultContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.result {
  padding: 8px;
  border-radius: 8px;
  width: 220px;
  height: 250px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 1px #dce8fc;
  border-top: 4px solid #bac8df;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.result:hover {
  /* transform: translateY(10px); */
  box-shadow: 0 0 10px 1px rgb(175, 174, 174);
}

.result:nth-child(odd) {
  /* border-bottom: 2px solid #3b82f6; */
}

.result:nth-child(even) {
  /* border-top: 2px solid #3b82f6; */
}

.subject {
  /* font-size: 20px; */
  /* justify-self: first baseline; */
  margin: 1rem 0 3rem;
  font-weight: bold;
}

.score {
  margin-top: 1rem;
  font-size: 24px;
  font-weight: bold;
  color: #d1a516;
}

@media screen and (min-width: 768px) {
  .resultContainer {
    justify-content: start;
  }
}
