* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
}

.container {
  /* width: 80%; */
  /* margin: 4rem auto; */
  /* background-color: #ffffff; */
  /* box-shadow: rgba(0, 0, 0, 0.05); */
  /* padding: 1.5rem; */
  /* border-radius: 0.75rem; */
}

.marginB {
  margin-bottom: 1.5rem;
}

nav .active {
  /* border-bottom: 1px solid #3b82f6; */
}

.flex {
  display: flex;
  justify-content: space-between;
}
