* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.wrapper {
  width: 100%;
}

.marginB {
  margin-bottom: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
