.paddingX {
  padding: 0 64px;
}

.container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 5rem auto;
  padding: 0.5rem;
}

.container > * {
  margin-bottom: 1rem;
  flex: 1;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    margin-top: 8rem;
    padding: 0.5rem 64px;
  }

  .container > * {
    align-self: center;
  }

  .rightPanel {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
