body {
  background-color: #f1f5f9;
  font-family: "Poppins", sans-serif;
  color: #212529;
  background-image: url("/images/bg-v4.png");
}

h1,
h2,
h3 {
  color: #3c3737;
  text-align: center;
  line-height: 1;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  h1,
  h2,
  h3 {
    text-align: start;
  }
}
